/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #4e75ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 30px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #2e2f42;
}


.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 36px 0;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form button:hover {
  background-color: #6c8cff;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #4e75ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 32px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 24px 36px;
  list-style: none;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.info {
  display: flex;
  justify-content: space-around;
  padding: 12px 8px;
  border-top: 1px solid #808080;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 12px;
}

.info p span {
  font-weight: 600;
  font-size: 14px;
}